li {
margin-bottom: 20px
}
body {
  font-family: sans-serif;
  line-height: 2em;
  color: #111;
  background-color: rgba(230,117,138,.8);
  padding: 0;
  margin: 0;
}
#container {
  background-color: rgba(237, 204, 139, .6);
  margin: 0 2em;
  padding: 1em 2em;
}
a {
  color: #267;
}
h1 {
  text-align: center;
}

